node_modules/
coverage/
.cache/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

.env
.env.*

assets/trailer/
assets/trailer/**/*.mp4

# Ignore top-level trailer folder
trailer/